{% do view.registerAssetBundle("cogapp\\searchindex\\web\\assets\\searchdocumentfield\\SearchDocumentFieldAsset") %}

{% set fieldId = 'search-doc-' ~ field.handle ~ '-' ~ (random()) %}

<div id="{{ fieldId }}" class="search-document-field" data-field-id="{{ fieldId }}" data-per-page="{{ perPage }}">
    <input type="hidden" name="{{ field.handle }}[indexHandle]" value="{{ indexHandle }}" class="sdf-index-handle">
    <input type="hidden" name="{{ field.handle }}[documentId]" value="{{ documentId }}" class="sdf-document-id">

    {# Selected document display #}
    <div class="sdf-selected" style="{{ documentId ? '' : 'display:none' }}">
        <div class="flex flex-nowrap">
            <div class="sdf-selected-info flex-grow">
                <span class="sdf-selected-title">Loading…</span>
            </div>
            <button type="button" class="btn small sdf-clear" title="Clear selection">
                <span data-icon="remove"></span>
            </button>
        </div>
    </div>

    {# Search input #}
    <div class="sdf-search" style="{{ documentId ? 'display:none' : '' }}">
        <div class="text">
            <input type="text" class="text fullwidth sdf-query" placeholder="Search {{ indexHandle }}…" autocomplete="off">
        </div>
        <div class="sdf-results" style="display:none">
            <ul class="sdf-results-list"></ul>
        </div>
    </div>
</div>
