{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("cogapp\\searchindex\\web\\assets\\fieldmappings\\FieldMappingsAsset") %}

{{ hiddenInput('indexId', index.id) }}

{% if attributeMappings|length or fieldMappings|length %}
    <table class="data fullwidth" id="si-field-mappings">
        <thead>
            <tr>
                <th class="thin">{{ 'labels.include'|t('search-index') }}</th>
                <th>{{ 'labels.fieldName'|t('search-index') }}</th>
                <th>{{ 'labels.craftType'|t('search-index') }}</th>
                <th>{{ 'labels.indexName'|t('search-index') }}</th>
                <th>{{ 'labels.indexType'|t('search-index') }}</th>
                <th>{{ 'labels.role'|t('search-index') }}</th>
                <th class="thin">{{ 'labels.weight'|t('search-index') }}</th>
            </tr>
        </thead>
        <tbody>
            {% if attributeMappings|length %}
                <tr>
                    <td colspan="7"><strong>{{ 'labels.elementAttributes'|t('search-index') }}</strong></td>
                </tr>
                {% for mapping in attributeMappings %}
                    <tr>
                        <td>
                            {{ hiddenInput('mappings[' ~ mapping.uid ~ '][attribute]', mapping.attribute) }}
                            {{ forms.lightswitch({
                                name: 'mappings[' ~ mapping.uid ~ '][enabled]',
                                on: mapping.enabled,
                                small: true,
                            }) }}
                        </td>
                        <td>
                            <code>{{ mapping.attribute }}</code>
                            <span class="si-role-chip" data-role="{{ mapping.role ?? '' }}" {% if mapping.role %}aria-label="{{ 'Role: {role}'|t('search-index', { role: mapping.role }) }}"{% endif %}>{{ mapping.role ?? '' }}</span>
                        </td>
                        <td><span class="light">{{ 'labels.attribute'|t('search-index') }}</span></td>
                        <td>
                            {{ forms.text({
                                name: 'mappings[' ~ mapping.uid ~ '][indexFieldName]',
                                value: mapping.indexFieldName,
                                class: 'code',
                                size: 20,
                            }) }}
                        </td>
                        <td>
                            {{ forms.select({
                                name: 'mappings[' ~ mapping.uid ~ '][indexFieldType]',
                                value: mapping.indexFieldType,
                                options: fieldTypes,
                            }) }}
                        </td>
                        <td class="si-role-select">
                            {{ forms.select({
                                name: 'mappings[' ~ mapping.uid ~ '][role]',
                                value: mapping.role ?? '',
                                options: roleOptions,
                                class: 'si-role-input',
                            }) }}
                        </td>
                        <td>
                            {{ forms.text({
                                name: 'mappings[' ~ mapping.uid ~ '][weight]',
                                value: mapping.weight,
                                type: 'number',
                                min: 1,
                                max: 10,
                                size: 3,
                            }) }}
                            {{ hiddenInput('mappings[' ~ mapping.uid ~ '][sortOrder]', mapping.sortOrder) }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if fieldMappings|length %}
                <tr>
                    <td colspan="7"><strong>{{ 'labels.customFields'|t('search-index') }}</strong></td>
                </tr>
                {% for item in fieldMappings %}
                    {% set mapping = item.mapping %}
                    {% if item.isMatrixParent %}
                        {# Matrix parent: grey group header row #}
                        <tr class="si-matrix-parent">
                            <td>
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][fieldUid]', mapping.fieldUid) }}
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][enabled]', mapping.enabled ? '1' : '') }}
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][indexFieldName]', mapping.indexFieldName) }}
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][indexFieldType]', mapping.indexFieldType) }}
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][role]', mapping.role ?? '') }}
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][weight]', mapping.weight) }}
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][sortOrder]', mapping.sortOrder) }}
                            </td>
                            <td colspan="6">
                                <strong>{{ item.fieldName }}</strong>
                                <span class="light">{{ 'labels.matrix'|t('search-index') }}</span>
                            </td>
                        </tr>
                        {# Sub-field rows, indented #}
                        {% for subItem in item.subFields %}
                            {% set subMapping = subItem.mapping %}
                            <tr>
                                <td>
                                    {{ hiddenInput('mappings[' ~ subMapping.uid ~ '][fieldUid]', subMapping.fieldUid) }}
                                    {{ hiddenInput('mappings[' ~ subMapping.uid ~ '][parentFieldUid]', subMapping.parentFieldUid) }}
                                    {{ forms.lightswitch({
                                        name: 'mappings[' ~ subMapping.uid ~ '][enabled]',
                                        on: subMapping.enabled,
                                        small: true,
                                    }) }}
                                </td>
                                <td class="pl-l">
                                    &rarr; {{ subItem.fieldName }}
                                    <span class="si-role-chip" data-role="{{ subMapping.role ?? '' }}" {% if subMapping.role %}aria-label="{{ 'Role: {role}'|t('search-index', { role: subMapping.role }) }}"{% endif %}>{{ subMapping.role ?? '' }}</span>
                                    {% if not subItem.searchable %}
                                        <span class="warning" data-icon="alert" title="{{ 'help.thisFieldIsNotMarkedAsSearchableInItsCraftFieldSettings'|t('search-index') }}" aria-label="{{ 'states.notSearchable'|t('search-index') }}" role="img"></span>
                                        <span class="light small">{{ 'states.notSearchableInCraft'|t('search-index') }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="light">{{ subItem.fieldType }}</span>
                                </td>
                                <td>
                                    {{ forms.text({
                                        name: 'mappings[' ~ subMapping.uid ~ '][indexFieldName]',
                                        value: subMapping.indexFieldName,
                                        class: 'code',
                                        size: 20,
                                    }) }}
                                </td>
                                <td>
                                    {{ forms.select({
                                        name: 'mappings[' ~ subMapping.uid ~ '][indexFieldType]',
                                        value: subMapping.indexFieldType,
                                        options: fieldTypes,
                                    }) }}
                                </td>
                                <td class="si-role-select">
                                    {{ forms.select({
                                        name: 'mappings[' ~ subMapping.uid ~ '][role]',
                                        value: subMapping.role ?? '',
                                        options: roleOptions,
                                        class: 'si-role-input',
                                    }) }}
                                </td>
                                <td>
                                    {{ forms.text({
                                        name: 'mappings[' ~ subMapping.uid ~ '][weight]',
                                        value: subMapping.weight,
                                        type: 'number',
                                        min: 1,
                                        max: 10,
                                        size: 3,
                                    }) }}
                                    {{ hiddenInput('mappings[' ~ subMapping.uid ~ '][sortOrder]', subMapping.sortOrder) }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {# Regular field row #}
                        <tr>
                            <td>
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][fieldUid]', mapping.fieldUid) }}
                                {% if mapping.resolverConfig %}
                                    {{ hiddenInput('mappings[' ~ mapping.uid ~ '][resolverConfig]', mapping.resolverConfig|json_encode) }}
                                {% endif %}
                                {{ forms.lightswitch({
                                    name: 'mappings[' ~ mapping.uid ~ '][enabled]',
                                    on: mapping.enabled,
                                    small: true,
                                }) }}
                            </td>
                            <td>
                                {{ item.fieldName }}
                                <span class="si-role-chip" data-role="{{ mapping.role ?? '' }}" {% if mapping.role %}aria-label="{{ 'Role: {role}'|t('search-index', { role: mapping.role }) }}"{% endif %}>{{ mapping.role ?? '' }}</span>
                                {% if not item.searchable %}
                                    <span class="warning" data-icon="alert" title="{{ 'help.thisFieldIsNotMarkedAsSearchableInItsCraftFieldSettings'|t('search-index') }}" aria-label="{{ 'states.notSearchable'|t('search-index') }}" role="img"></span>
                                    <span class="light small">{{ 'states.notSearchableInCraft'|t('search-index') }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="light">{{ item.fieldType }}</span>
                            </td>
                            <td>
                                {{ forms.text({
                                    name: 'mappings[' ~ mapping.uid ~ '][indexFieldName]',
                                    value: mapping.indexFieldName,
                                    class: 'code',
                                    size: 20,
                                }) }}
                            </td>
                            <td>
                                {{ forms.select({
                                    name: 'mappings[' ~ mapping.uid ~ '][indexFieldType]',
                                    value: mapping.indexFieldType,
                                    options: fieldTypes,
                                }) }}
                            </td>
                            <td class="si-role-select">
                                {{ forms.select({
                                    name: 'mappings[' ~ mapping.uid ~ '][role]',
                                    value: mapping.role ?? '',
                                    options: roleOptions,
                                    class: 'si-role-input',
                                }) }}
                            </td>
                            <td>
                                {{ forms.text({
                                    name: 'mappings[' ~ mapping.uid ~ '][weight]',
                                    value: mapping.weight,
                                    type: 'number',
                                    min: 1,
                                    max: 10,
                                    size: 3,
                                }) }}
                                {{ hiddenInput('mappings[' ~ mapping.uid ~ '][sortOrder]', mapping.sortOrder) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% else %}
    <p class="zilch">{{ 'No fields detected. Make sure you\'ve selected sections and entry types on the {link}index settings{endlink} page.'|t('search-index', {
        link: '<a href="' ~ url('search-index/indexes/' ~ index.id) ~ '">',
        endlink: '</a>',
    })|raw }}</p>
{% endif %}

<div id="field-mappings-container"
    data-t-copied="{{ 'states.copiedToClipboard'|t('search-index') }}"
    data-t-copy-failed="{{ 'errors.failedToCopyToClipboard'|t('search-index') }}"
></div>

{{ searchIndexSprig('cp.validation-results', { indexId: index.id, run: false }, { id: 'validation-results', class: 'mt-l' }) }}
